.gray-text {
  color: gray;
}

.blue {
 /* H3 Medium 16 */
font-family: 'GothamPro';
font-style: normal;

font-size: 16px;
line-height: 120%;
font-weight: bold;
color: #5D5FEF;

}

.matches {
  margin-top: 1rem;
  
text-align: left;
margin-left: 25rem;
}
.password-field.input-container-password {
  margin-bottom: 2.4rem;
}

li {
list-style:circle;
/* H3 Medium 16 */

font-family: 'GothamPro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */


/* grey */

color: #C1C1C1;
}

.eye {
  width: 2.5rem;
  height: 2rem;
  text-align: center;
  align-items: center;
}

button[type="button"] img {
align-items: center;
text-align: center;
margin-top: 8.5rem;
}